{{#extends "base"}}
{{#block "content"}}
<h1>Shipping Products</h1>
<table class="table">
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Price/SGD</th>
        <th>Product Type</th>
        <th>Shipping Company</th>
    </tr>
    {{#each shippingProducts}}
    <tr>
        <td>{{ProductsId}}</td>
        <td>{{name}}</td>
        <td>{{price}}</td>
        <td>{{typeName}}</td>
        <td>{{companyName}}</td>
        <td><a href="/shippingProducts/edit/{{ProductsId}}">Edit</a></td>
        <td><a href="/shippingProducts/delete/{{ProductsId}}">Delete</a></td>
    </tr>
    {{/each}}
    <td><a href="/shippingProducts/create">Add Products</a></td>
</table>
{{/block}}
{{/extends}}


